.footer {
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  box-shadow: 5px 3px 10px rgb(155, 152, 152);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  &__title {
    h3 {
      font-family: "Architects Daughter", cursive;
      font-size: 35px;
      font-weight: 600;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.65);
      margin-bottom: 0;
      &:hover {
        color: black;
      }
    }
  }
  &__socials {
    font-size: 20px;
    width: 130px;
    display: flex;
    justify-content: space-evenly;
    &__item {
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
  &__copyrights {
    font-family: "Playfair Display";
    font-weight: bold;
  }
}
