.main-container {
  &__profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1050px) {
      width: 100%;
    }
  }
}
