.icons {
  width: 100%;
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      transition-duration: 0.5s;
      font-size: 25px;
      width: 100%;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 3px #ccc;
      }

      &__dropdown {
        &__signin {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #0070cc;
          width: 80%;
          color: #f5f5f5;
          border-radius: 20px;
          font-weight: bold;
          margin: 5px;
          &:hover {
            background-color: darken($color: #0070cc, $amount: 10);
          }
        }
        &__signup {
          display: flex;
          justify-content: center;
          border: 1px solid #0070cc;
          width: 90%;
          border-radius: 20px;
          font-weight: bold;
          margin: 5px;
          cursor: pointer;
          &:hover {
            background-color: darken($color: #0070cc, $amount: 10);
            color: #fff;
          }
        }
        &__orders,
        &__profile {
          cursor: pointer;
          font-size: 15px;
          font-weight: bold;
          margin: 5px 0px 0px 0px;
        }
      }
    }
  }
}
